body {
	background-color:aliceblue;
	width:100vw;
	height:100vh;
	margin:0px;
	overflow: hidden;
}

.Entity {
	position: absolute;
	background-color: red;
	width: 10px;
	height: 10px;
}
.BaseEntity {
	background-color: green;
}
.BulletEntity {
	background-color: blue;
}
.EnemyEntity {
	background-color: red;
}
.YouEntity {
	background-color: yellow;
	border: 2px solid black;
}

.healthBar {
	height: 20%;
	margin-top: -30%;
	margin-left: -50%;
	background-color: orange;
}
.BaseEntity .healthBar {
	margin-top: 5%;
}

.perfChart {
	position:absolute;
	left:100vw;
	width: 80px;
	margin-left: -80px;
}

.gameInfo {
	position: absolute;
	left: 0px;
}


/* Game over screen */
.centerStage1 {
	pointer-events: none;
	margin-left: 50vw;
	margin-top: 50vh;
}
	.centerStage2 {
		display: inline-block;
	}
		.centerStage3 {
			margin-left: -50%;
			margin-top: -50%;
		}

.statusScreen {
	position:absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.gameOverScreen {
	opacity: 100;
	transition: all 1s ease;
	background-color: hsla(0, 100%, 100%, 0.6);
}

	.gameOverMessage {
		font-size: 30px;
	}
